body,
ul {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.container {
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-form {
  padding-top: 20px;
  padding-bottom: 20px;
}

.search-input {
  width: 300px;
  height: 30px;
  text-align: center;
  font-size: 18px;
}

.photo-card {
  padding-bottom: 20px;
  width: 22%;
}

.image-container {
  height: 190px;
}

.photo-item {
  object-fit: cover;
  display: block;
  height: 100%;
  width: 100%;
}
.photo-item:hover {
  cursor: zoom-in;
}

.basicLightbox:hover {
  cursor: zoom-out;
}

.stats {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(157, 185, 218, 0.308);
}

.stats-item {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.material-icons {
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.load-more-btn {
  height: 30px;
}
